<aside class="sidebar">
    <div class="sidebar-header">AWAMIL</div>
    <nav>
        <div class="nav-item">
            <a href="/admin" class="nav-link">
                <i class="fas fa-home"></i>
                Dashboard
            </a>
        </div>
        <div class="nav-item">
            <a href="/admin/uploads" class="nav-link">
                <i class="fas fa-newspaper"></i>
                Uploads
            </a>
        </div>
        <div class="nav-item">
            <a href="/admin/create" class="nav-link">
                <i class="fas fa-plus-circle"></i>
                Create New
            </a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </div>
    </nav>
</aside>