<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="mail" required ><br>
        <label for="pass">Password</label><br>
        <input type="password" name="password" required ><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>