<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1><strong>SIGNUP</strong></h1>
    <form action="/auth/signup" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="mail" required placeholder="email"><br>
        <label for="pass">Password</label><br>
        <input type="password" name="password" required placeholder="Password"><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>